@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700|Playfair+Display&display=swap');
*{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  color: #020049;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
h1{
  font-size: 2em;
  margin: 30px;
  background-color: white;
  padding:20px;
  font-family: 'Playfair Display', serif;
  display: table;
  border-radius: 5px;
  transform: skewX(-5deg);
  box-shadow: 5px 5px 0px 0px rgb(4, 2, 75);
}
h2{
  font-size: 1.5em;
  margin: 30px;
  background-color: white;
  padding:20px;
  font-family: 'Playfair Display', serif;
  display: table;
}
p{
  font-size: 1em;
  text-align: left;
  padding:20px;
  line-height: 1.5;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  transition: all 300ms;
  cursor: pointer;
}
button:hover{
  transform:scale(1.1);
}
button:focus{
  outline: none;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  }
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #F4F4FF;
}
article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

section.br-header{
  height: 50vh;
  background-image: url('img/header.jpg');
  background-position: center;
  background-size: cover;
}
article.br-swiper-container{
  margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    margin:20px 0px 50px 0px;
    z-index: 1;
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}
div.left-button, div.right-button {
  position: absolute;
  height: 50px;
  width: 50px;
  background-image: url('img/next.svg');
  background-position: center;
  background-size: cover;
  z-index: 3;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
div.left-button{
  transform: translateX(10px) rotate(180deg);
  left: 0;
}
div.left-button:hover{
  transform: translateX(10px) rotate(180deg) scale(1.1);
}
div.right-button:hover{
  transform: translateX(-60px) scale(1.1);
}
div.right-button{
  left:100%;
  transform: translateX(-60px);
}
article.br-swiper-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  justify-content: flex-start;
  box-sizing: content-box;
  transition: left 200ms ease-in-out;
}
article.br-swipe-product-info{
  flex-direction: column;
}
article.br-swipe-product-info button{
  border: 1px solid;
  padding: 15px 40px;
}
article.br-swipe-product-info button:hover{
  transform:scale(1.1) translateY(-5px);
}
div.default {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transform: scale(.5);
  opacity: 0.5;
  transition: opacity 300ms ease-in-out,
  transform 300ms ease-in-out;
  cursor: pointer;
}
div.default a{
  height: 100%;
  display: flex;
  pointer-events: none;
}
div.default img{
  width: 100%;
  align-self: flex-start;
}

div.focus {
  transform: scale(1);
  opacity: 1;
  transition: opacity 300ms ease-in-out,
  transform 300ms ease-in-out,
  filter 200ms ease-in-out ;
}
div.focus a{
  pointer-events: all;
}
div.focus:hover {
  filter: brightness(1.3);
}
div.prev {
  transform: scale(0.7) translateX(-10%);
  opacity: 0.7;
  transition: opacity 300ms ease-in-out,
  transform 300ms ease-in-out,
  filter 200ms ease-in-out;
}
div.prev:hover {
  filter: brightness(1.3);
}
div.next {
  transform: scale(0.7) translateX(10%);
  opacity: 0.7;
  transition: opacity 300ms ease-in-out,
  transform 300ms ease-in-out,
  filter 200ms ease-in-out ;
}
div.next:hover {
  filter: brightness(1.3);
}
section.br-history{
  position: relative;
  padding-top: 50px;
}
section.br-history h1{
  margin: 0;
  position: absolute;
  top: 0px;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%) skewX(-5deg);
  box-shadow: 5px 5px 0px 0px rgb(244, 244, 255);
}

article.br-history-full-img{
  height: 50vh;
  background-image: url('img/history-header.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
}
article.br-history-ctnt{
  flex-direction: column;
  background: #020049;
  width: 100%;
  padding: 30px 0px;
}
article.br-history-ctnt p{
  max-width: 1200px;
  width: 75%;
  color: white;
}
article.br-history-se-ctnt{
  flex-direction: column;
  width: 100%;
}

article.br-history-se-ctnt-block{
  flex-direction: row;
  max-width: 1200px;
}
article.br-history-se-ctnt-block-img-container{
  width: 100%;
}

article.br-history-se-ctnt-block-img{
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 100%;
}
article.br-history-se-ctnt-block-img img{
  position: absolute;
  width: auto;
}
article.br-history-se-ctnt-block{
  padding-top: 50px;
}

article.br-history-se-ctnt-block-img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
article.br-history-se-ctnt-block-text {
  flex-direction: column;
  position: relative;
}
article.br-history-se-ctnt-block-text h2{
  background-color: #020049;
  color: white;
  margin: 0;
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 50%;
  transform: translateX(-50%) skewX(-5deg);
  box-shadow: 5px 5px 0px 0px rgb(244, 244, 255);
}

article.br-history-se-ctnt-block-text p{
  text-align: center;
  padding-top: 50px;
  background-color: white;
  border-radius: 30px;
  padding: 75px 40px 40px 40px;
  margin: 30px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #020049;
  padding: 50px 0px;
}
footer p{
  color: white;
  font-size: 0.8em;
  padding: 5px;
  font-weight: 600;
}
footer a {
  color: white;
  font-size: 0.8em;
  text-decoration: none;
}
footer img{
  width: 120px;
}

@media (max-width: 950px) {
  article.br-history-se-ctnt-block-img-container {
    flex-wrap: wrap;
  }
  article.br-history-se-ctnt-block-img {
    width: 50%;
  }
  article.br-history-se-ctnt-block{
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 650px) {
  article {
    width: 100%;
  }
  article.br-history-ctnt p{
    width: 90%;
  }
  article.br-history-se-ctnt-block-img {
    width: 100%;
  }
  article.br-history-se-ctnt{
    flex-direction: column;
  }
}
.animation-start-app {
  animation: start-app 1s forwards;
}
@keyframes start-app {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}